* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.bg-container {
  background-color: #f4faff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 22px;
  text-align: center;
}
.cards-container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
  }
}
